/* 🎌 Fondo general */
body {
  background-color: black;
  background-image: url('../img/img1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Consolas, monospace;
  color: #00ffff;
  
}

/* 🎯 Contenedor principal */
.container {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #00ffff;
  border-radius: 15px;
  padding: 30px;
  
  max-width: 500px;
}

/* 🧠 Título principal */
h1 {
  color: #eaeaea;
 /*  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; */
  font-weight: bold;
}

/* 📥 Input */
#operacionInput {
  background-color: rgba(47, 69, 103, 0.8);
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  
}


/* 🔘 Botón */
#btnDesglosar {
  background: rgb(139, 177, 194);
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  
  transition: 0.3s;
}

#btnDesglosar:hover {
  background: #906666;
 
  transform: scale(1.05);
}

/* 📜 Resultado */
#resultado {
  font-family: Consolas, monospace;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ffff;
  color: #beb8b8;
  border-radius: 10px;
  padding: 15px;
  white-space: pre-wrap;
  text-shadow: 0 0 5px #313636;
  
}

/* 📱 Responsividad */
@media (max-width: 576px) {
  .container {
    max-width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #btnDesglosar {
    font-size: 16px;
  }
}